@font-face {
  font-family: "insungitCutelivelyjisu";
  src: url("./insungit-Cutelively-jisu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRun-Regular";
  src: url("./CookieRun_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRun-Black";
  src: url("./CookieRun_Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRun-Bold";
  src: url("./CookieRun_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("./PyeongChangPeace-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("./PyeongChangPeace-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
